  </head>

  <body>


    <!-- the main index may not be written with relative paths only,
    because these paths will turn out to be different for each
    individual page. hence, it needs to be relative to some site.url -->
    <header>
      <div class="inner">
        <a href="{{ site.url }}/index.html"><h1>Research findings</h1></a>
        <h2>Html presentation of my research findings</h2>
        <a href="https://github.com/cgroll/research_page" class="button"><small>View project on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
